<h1>Contacts</h1>

<section>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <%= erb :'contacts/_row', locals: {contact: contact} %>
      <% end %>
    </tbody>
  </table>
</section>
<a id="new-link" class="btn" href="/contacts/new">New Contact</a>
