<h1>Contact Details</h1>

<dl>
  <dt>First Name</dt>
  <dd><%= @contact.first_name %></dd>
  <dt>Last Name</dt>
  <dd><%= @contact.last_name %></dd>
  <dt>Email</dt>
  <dd><%= @contact.email %></dd>
  <dt>Phone</dt>
  <dd><%= @contact.phone %></dd>
</dl>

<a href="/contacts">Back</a>